_version.py
**/__pycache__/**
*.egg-info
dist/**
build/**
**/.ipynb_checkpoints/**
doc/_build/**# pixi environments
.pixi
*.egg-info
doc/_build
# pixi environments
.pixi/*
!.pixi/config.toml
# PhreeqcRM intermediate files
**.chem.txt
**.log.txt
**.dump
